
* {
  box-sizing: border-box;
}

body {
  padding-top: 10rem;
  margin: 0;
  font-family: 'Contrail One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(var(--timberwolf), var(--white));
  color: var(--gold-metallic);
  min-height: 100vh;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15%;
}

#main-title {
  display: flex;
  align-items: center;
}

#main-title img {
  width: 5rem;
  margin-right: 1.5rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--mikado-yellow);
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
  font-size: 2.5rem;
  margin: 0;
}

#main-header button {
  background: var(--mikado-yellow);
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  color: var(--jet);
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#main-header button:hover {
  background: var(--gold-metallic);
}

#shop {
  width: 70%;
  margin: 2rem auto;
}

#shop h2 {
  font-size: 1.5rem;
  color: var(--gold-metallic);
  text-transform: uppercase;
}

#products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  justify-content: center;
}

.product {
  height: 100%;
  max-width: 20rem;
  width: 100%;
  background: var(--white);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product:hover {
  transform: scale(1.025);
}

.product img {
  width: 100%;
  background-color: black;
  border-radius: 6px;
}

.product-content {
  flex: 1;
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product p {
  color: var(--mikado-yellow);
}

.product-content h3 {
  font-size: 1.25rem;
  color: var(--jet);
  margin-bottom: 0.15rem;
  margin-top: rem;
}

.product-price {
  font-size: 2rem;
  color: var(--mikado-yellow);
  margin: 0;
}

.product-description {
  color: var(--jet);
}

.product-actions {
  text-align: right;
  padding-bottom: 3rem;
  display: flex;
  gap: 10px;
  justify-content: right ;  
}

.product-actions button {
  background: var(--mikado-yellow);
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: var(--jet);
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-actions button:hover {
  background: var(--gold-metallic);
}

#modal {
  width: 30%;
  background: var(--gold-metallic);
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}

#modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

#modal h2 {
  font-size: 1.5rem;
  color: var(--jet);
  text-transform: uppercase;
  margin: 0;
}

#cart-items {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: var(--timberwolf);
  border-radius: 5px;
  font-size: 0.9rem;
}

.cart-item-actions {
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #dbf3d4;
  color: var(--jet);
  font-weight: bold;
  padding: 0.75rem;
  border-radius: 10px;
}

.cart-item-actions button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: var(--jet);
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.cart-item-actions button:hover {
  background: var(--timberwolf);
}

.cart-item-actions button:first-of-type {
  padding-bottom: 0.2rem;
}

#cart-total-price {
  font-size: 2rem;
  color: var(--mikado-yellow);
  font-weight: bolder;
  font-style: normal;
}

#modal form {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

#modal form button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #201e1a;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

#modal form button:hover {
  color: var(--gold-metallic);
}

#modal form button:last-of-type {
  background: #271e07;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #f9efda;
  font-size: 1rem;
  cursor: pointer;
}

#modal form button:last-of-type:hover {
  background: var(--jet);
}

#checkout {
  animation: fade-slide-in-from-right 0.3s ease-in-out;
}

#checkout label {
  display: block;
  margin-bottom: 0.5rem;
}

#checkout input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: #f3e7d4;
    padding-bottom: 3rem;
  }

  p {
    font-size: 2rem;
    font-style: italic;
    color: var(--mikado-yellow);
  }
}

.checkout-items {
  list-style: none;
  color: #201e1a;
  font-weight: bold;
  padding: 1rem;
  width: 70%;

  img {
    height: 10rem;
    background-color: black;
    border-radius: 10px;
  }
}

.checkout-items li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  background-color: var(--gold-metallic);
  border-radius: 10px;

  .cart-item-actions {
    background-color: #f3e7d4;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .checkout-items li div {
    flex-direction: column;

    .cart-item-actions {
      flex-direction: row;
      background-color: #f3e7d4;
    }

  }
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  gap: 3rem;
}

.cart-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cart-container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--jet);
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cart-item {
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  width: 75%;
  min-width: 250px;
  padding: 15px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.cart-item:hover {
  transform: scale(1.05);
}

.cart-item-thumbnail {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.item-image {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-details h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.cart-item-details p {
  font-size: 1rem;
  margin: 5px 0;
}

.cart-item-controls {
  margin-top: 10px;
}

.cart-item-controls button {
  background-color: var(--mikado-yellow);
  border: none;
  color: var(--jet);
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.cart-item-controls button:hover {
  background-color: var(--gold-metallic);
}

.total-price {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  color: var(--mikado-yellow);
}

:root {
  --white: white;
  --timberwolf: #CCC7BC;
  --jet: #333232;
  --gold-metallic: #D7AC11;
  --mikado-yellow: #FFC800;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  z-index: 1000;
  background-color: var(--jet);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);;
}

::selection {
  color: var(--jet);
  background-color: var(--gold-metallic);
}

#filter {
  width: 80%;
  max-width: 300px;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
}

#filter h3 {
  text-align: center;
  color: var(--mikado-yellow);
  font-size: 1.5rem;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-group label {
  font-size: 1rem;
  color: var(--jet);
}

.filter-group select,
.filter-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--jet);
}

.filter-group select {
  cursor: pointer;
}

.filter-group input[type="range"] {
  width: 100%;
}

.filter-group input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--timberwolf);
}

.filter-group input[type="range"]::-webkit-slider-thumb {
  background-color: var(--mikado-yellow);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.filter-group span {
  color: var(--mikado-yellow);
  font-weight: bold;
  text-align: center;
  display: block;
}
